body{
    font-family: 'Montserrat', sans-serif;

}
.header-img1{
    background-image: url("../img/Vector.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 24px;
}
.header-img2{
    background-image: url("../img/Vector (1).svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}
.header-img3{
    background-image: url("../img/Vector (2).svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 23.5px;
}
.header-img4{
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    width: 1px;
    height: 19px;
}
.header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    margin: 0;
    padding: 0;
}
.header-section{
    display: flex;
    align-items: center;
}
.header-item1{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
    padding-left: 79px;
}

.header-item:nth-child(6){
    padding-right: 79px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;

}
.header-item:nth-child(5){
    padding-right: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
.header-item:nth-child(4){
    padding-right: 27px;
}
.header-item:nth-child(3){
   padding-right: 25px;
}
.header-item:nth-child(2){
    padding-right:23px;
}
.header-item:nth-child(1) {
    padding-right: 27px;
}
.header-item1:hover{
    color:#3CB878;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.header-img1:hover{
    background-image: url("../img/calendar-alt-regular 1.svg");
    cursor: pointer;
}
.header-img2:hover{
    background-image: url("../img/envelope-open-regular 1.svg");
    cursor: pointer;
}
.header-img3:hover{
    background-image: url("../img/compass-regular 1.svg");
    cursor: pointer;
}

.add-header-text1:hover{
    color: #3CB878;
    cursor: pointer;
}
.add-header-text2:hover{
    color: #3CB878;
    cursor: pointer;
}
.main{
    width: 444px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    margin-top: 53px;
}
.first-section{
    display: flex;
}
.fs-img{
   margin-top: 29px;
}
.fs-title{
    margin-top: 28px;
    margin-left: 42px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.fs-link{
     color: #01813F;
     padding-top: 35px;
     margin-left:205px;
     text-decoration: none;
}
.fs-link:hover{
    text-decoration: underline;

}
.second-section{
    display: flex;
    margin-left: 60px;
    margin-top: 15px;
}
.sc-block1{
    background: #305DB8;
    width: 160px;
    height: 48px;
    align-items: center;
    display: flex;
}
.sc-block2{
    background: #DF4A32;
    margin-left: 8px;
    width: 160px;
    height: 48px;
    align-items: center;
    display: flex;
}
.sc-img1{
    padding-left: 16px;
}
.sc-img2{
    padding-left: 16px;
}
.sc-line{
    padding: 18px;
    opacity: 0.1;
    mix-blend-mode: normal;
}
.sc-text1{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.sc-text2{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.sc-block1:hover{
    background: #022263;
}
.sc-block2:hover{
    background: #AB1F09;
}
.add-text-item{
     margin-top:31px;
     display: flex;
    /* justify-content: center;*/
}
.text-bs{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
    margin-left: 219px;
}
.text-bs:before{
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    background-color: #F2F2F2;
    left: 661px;
    top: 267px;
}
.text-bs:after{
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    background-color: #F2F2F2;
    top: 267px;
    right: 656px;
}
.third-section{
    margin-top:12px;
    margin-left: 60px;
}

.ts-form1{
    width: 324px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.ts-form2{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width:324px;
    height:44px;
    margin-top: 16px;
}
.ts-form3{
    margin-top:16px;
    width:324px;
    height:44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.ts-form4{
    margin-top: 16px;
    width:324px;
    height:44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.ts-form5{
    margin-top: 16px;
    width:324px;
    height:44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.last-section{
    margin-top: 12px;
}
.ls-img{
    background-image: url("../img/Vector 1.svg");
    width: 16px;
    height: 16px;
    border: 1px solid #F2F2F2;
}
.add-last-section{
    display: flex;
}
.ls-add-text1{
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    align-items: center;
    color: #434343;
}
.ls-add-text2{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
}
.ls-item2{
    background-color: #3CB878;
    border-radius: 4px;
    width: 324px;
    height: 46px;
    margin-top: 20px;
}
.ls-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
    top: 16px;
    font-weight: 900;
}
.ls-img:hover{
    background-image: url("../img/add-Vector 1.png");
    width: 16px;
    height: 16px;
    border: 1px solid #F2F2F2;
}
.ls-add-text2:hover{
    text-decoration: underline;
    color:#01813F ;
}
.ls-item2:hover{
    background: #01813F;
    border-radius: 4px;
}
