body{
    background-color: #35444F;
}
.container{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #35444F;
    width: 100%;
    max-width: 2000px;
}
.header{
    display: flex;
}
.SK{
    margin-left: 230px;
    margin-top:46px;
    position: absolute;
}
.text{
    margin-left: 1125px;
    margin-top:46px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.text1{
    color:gold
}
.text2{
    color: white;
}
.button{
    border: 1px solid gold;
    width: 218px;
    height: 50px;
    margin-left: 29px;
    margin-top: 37px;
}
.btn{
    padding-top:10px;
    padding-left:60px;
    border:none;
    background-color:transparent;
    position: relative;
}
.a-button{
    text-decoration: none;
    color: gold;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
}
.img-button{
    position: absolute;
    top:18px;
    left:38px
}
.h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-left: 230px;
    margin-top: 128px;
}
.h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-left: 230px;
}
.grid{
    margin-top: 41px;
    margin-left: 230px;
    margin-right: 230px;
    display: grid;
    grid-template-columns: 417px 417px 417px ;
    grid-template-rows: 468px 468px ;
    gap: 30px;

}
.item{
    display: flex;
    align-items: center;
    justify-content: center;

}
.grid-item1{
    background: #634F2C;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}
.grid-item2{
    background: #B4A385;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 44px;
    padding-right: 43px;
}
.grid-item3{
    background: #E4B564;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.grid-item4{
    background: #635A4A;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 620px;
}
.grid-item5{
    background: #B08C4D;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 200px;
    width: 663px;
    margin-right: 40px;
}
.h1-main{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 230px;
    margin-top: 161px;
}
.main-list{
    margin-top: 94px;


}
.ul-list{
    position: relative;
    right: 148px;
    height: 500px;
}
.ul-item:nth-child(1){
    position: relative;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    left: 230px;
}
.ul-item:nth-child(2){
    width: 467px;
    height: 439px;
    background: #242424;
    position: relative;
    left:727px;
    bottom: 314px;
}
.ul-item:nth-child(3){
    width: 467px;
    height: 255px;
    background: #1F1F1F;
    position: relative;
    left: 1223px;
    bottom: 753px;
}
.ul-item:nth-child(4){
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    position: relative;
    left: 230px;
    bottom: 660px;
}
.ul-item:nth-child(5){
    width: 467px;
    height: 405px;
    background: #E4B564;
    position: relative;
    left: 726px;
    bottom: 1100px;
}
.ul-item:nth-child(6){
    width: 467px;
    height: 313px;
    background: #0E0E0E;
    position: relative;
    left: 1223px;
    bottom: 1690px;
}
.ul-item:nth-child(7){
    width: 467px;
    height: 277px;
    background: #0A0909;
    position: relative;
    left: 1223px;
    bottom: 1660px;
}
.ul-item1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    position: relative ;
    top: 44px;
    left: 52px;
}
.ul-item2{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    position: relative;
    left: 51px;
    top: 44px;
}
.add-ul-item1{
    position: relative;
    right: 113px;
    top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}
.add-ul-item2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 25px;
    position: relative;
    right: 195px;
    top: 70px;
}
.ul-item3{
    position: relative;
    left:48px;
    top:44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}
.ul-item4{
    position: relative;
    left:52px;
    top:56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.ul-item5{
    position: relative;
    left:52px;
    top:47px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.ul-item6{
    position: relative;
    left:48px;
    top:44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.ul-item7{
    position: relative;
    left:48px;
    top:44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.container2{
    background: black;
    box-sizing: border-box;
    height: 2000px;
    margin-top: 700px;
}
.footer-text{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top:172px;
    left: 230px;
}
.footer-nav{
    display: flex;
}
.footer-btn{
    position: relative;
    top: 171px;
    left: 770px;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    background: none;
}
.text-btn{
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;

}
.footer__list{
    margin-top: 72px;
    margin-left: 230px;
}
.ul-footer{
    position: relative;
    right: 148px;
}
.footer-item1{
    position: relative;
    top: 272px;
    left: 230px;
    width: 487px;
    height: 391px;
    background: #634F2C;
}
.footer-item2{
    position: relative;
    left: 230px;
    top: 272px;
    width: 486px;
    height: 391px;
    background: #635A4A;
}
.footer-item3{
    position: relative;
    left: 716px;
    bottom: 510px;
    width: 486px;
    height: 391px;
    background: rgba(232, 210, 171, 0.76);
}
.footer-item4{
    width: 486px;
    height: 391px;
    background: #B08C4D;
    position: relative;
    left: 716px;
    bottom: 510px;
}
.footer-item5{
    width: 487px;
    height: 391px;
    background: #E4B564;
    position: relative;
    left: 1202px;
    bottom: 1292px;
}
.footer-item6{
    width: 487px;
    height: 391px;
    background: #634F2C;
    position: relative;
    left: 1202px;
    bottom: 1292px;
}
.footer-img1{
    position: relative;
    left: 151px;
    top: 171px;
}
.footer-img6{
    position: relative;
    left: 151px;
    top: 171px;
}
.footer-img2{
    position: absolute;
    top: 119px;
    left: 173px;
}
.footer-img3{
    position: absolute;
    top:61px;
    left: 217px;
}
.add-footer-text{
    position: relative;
    top: 190px;
    left: 80px;
    right: 80px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.add-footer-text1{
    font-weight:bold;
    position: relative;
    top: 190px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
.add-footer-text2{
    position: relative;
    display: flex;
    top: 190px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.footer-img7{
    position: relative;
    left:149px;
    top: 174px;
}
.footer-img5{
    position: relative;
    top: 174px;
    left: 149px;
}
.add-footer-text3{
    position: relative;
    left: 130px;
    top: 152px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 28px;
}
.footer-img4{
    position: relative;
    top:171px;
    left:177px;
}