body{
    background: url("../img/background 1.png") no-repeat;
    background-size: 100% 100% ;
    width: 1366px;
    background-size: cover;
    max-width: 1366px;
}
a{
    text-decoration: none;
    /*color: white;*/

}
.container{
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    max-width: 1366px;
}
.header-logo{
   /* display: flex;*/
}
.header-list{
    display: flex;
    /*padding-top: 51px;*/
    margin-top: 51px;
    padding-left: 161px;
}
.header-item:nth-child(1){
    /*padding-top: 10px;*/
}
.header-item:nth-child(2){
    padding-left: 8px;
    /*padding-top: 10px;*/
}
.logo-item1{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    align-items: center;
    color: #FFFFFF;

}
.logo-item2{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    padding-top: 5px;
}
.header-list2{
    margin-top:46px;
   position: absolute;
}
.logo-text1{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 970px;
    bottom: 100px;
}
.header2-item:nth-child(2){
    /*padding-top: 19px;*/
}
.logo-text2{
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    left: 1043px;
    bottom: 65px;
}
.main-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 165px;
    margin-top: 22px;
}

.main-img1{

}
.main-img2{
    margin-left: 61px;
}
.main-img3{
    margin-left: 62px;
}
.main-img4{
 margin-top: 37px;
}
.main-img5{
    margin-top: 37px;
    margin-left: 64px;
}
.main-img6{
    margin-top: 37px;
    margin-left: 63px;
}
.main-list-text1{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    margin-left: 80px;
    margin-top: 20px;
}
.main-list-text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    display: flex;
    color: #FFFFFF;
    margin-left: 149px;
    margin-top: 12px;
}
.main-list-text3{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    display: flex;
    color: #FFFFFF;
    margin-left: 170px;
    margin-top: 20px;
}
.main-list-text4{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    display: flex;
    color: #FFFFFF;
    margin-left: 73px;
    margin-top: 20px;
}
.main-list-text5{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    margin-left: 133px;
    margin-top: 20px;
}
.main-list-text6{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    display: flex;
    color: #FFFFFF;
    margin-left: 171px;
    margin-top: 20px;
}
.footer-content{
    margin-left: 530px;
    margin-top: 49px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.main-list-text1:hover{
    color: #F26522;
    cursor: crosshair;
}
.logo-item1:hover{
    color:#F26522;
    cursor: crosshair;
}
.logo-item2:hover{
    color: #F26522;
    cursor: crosshair;
}
.logo-text1:hover{
    color: #F26522;
    cursor: crosshair;
}
.logo-text2:hover{
    color: #F26522;
    cursor: crosshair;
}
/*
.main-img1:hover{
    background-image: url("../img/Hover.png");
    display: block;
    width: 294px;
    height: 55px;
}*/
