.container{
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}
.nav__list {
    display:inline;
    justify-content: center;
}
.nav{
    font-size: 0;
}

.item{
    border-right: 1px solid white;
    width: 100%;
    background: #35444F;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items:center;
    display: inline;
    color: #FFFFFF;
}
.header__item{
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: inline;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    text-decoration: none;

}
.header__a{
    text-decoration: none;
}
.header{
    margin-right: 1038px;
    margin-top: 63px;
    margin-bottom: 50px;
}
.header__item:nth-child(2){
    color: #4BCAFF;
}
.item:nth-child(1){
    padding-left: 162px;
    padding-top: 26px;
    padding-bottom: 19px;
    padding-right: 32px;

}
.item:nth-child(2){
    padding-top: 26px;
    padding-bottom:19px;
    padding-left:38px;
    padding-right: 32px;
}
.item:nth-child(3){
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left:38px;
    padding-right: 38px;
}
.item:nth-child(3):hover{
    background: #222F3A;
}
.item:nth-child(4){
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left:38px;
    padding-right: 38px;
}
.item:nth-child(5){
    padding-top: 26px;
    padding-bottom: 19px;
    padding-left:38px;
    padding-right: 38px;
}
.item:nth-child(6) {
    padding-left: 133px;
    padding-top: 26px;
    padding-right: 26px;
    padding-bottom: 19px;
}
.sidebar__list{
    background: rgba(0, 0, 0, 0.0001);
    margin-top: 48px; /* аналогично, если здесь что либо менять , то меняется и картинка. */
    /*align-items: center;*/
    height: 0px;   /*если здесь менять высоту ,оно так же берет и картинку и меняет ее всю высоту ,в этом и была проблема*/
     /* пропиши здесь бордер обычный ,посмотри что происходит .*/
    width: 344px;
}
.sidebar{
    /* пропиши здесь бордер обычный ,посмотри что происходит .*/
}
.sidebar__item {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 25px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    }

.sidebar__item:hover{
    background: #DBDBDB;
}
.sidebar__item:nth-child(1){
    border-top: 1px solid black;
}
.sidebar__item:nth-child(5){
    border-bottom: 1px solid black;
}
/*.main__menu{*/
/*    display: inline;*/
/*}*/
.menu__container{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-left: 416px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__img{
    /*padding-left:296px;*/
    padding-top: 73px;
    padding-bottom: 75px;
    /*padding-right: 268px;*/

}
.text{
    margin-left: 416px;
}
.text1{
    margin-top: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}





















/*.menu{*/
/*    margin-top: 48px;*/
/*    background: rgba(0, 0, 0, 0.0001);*/
/*    border: 1px solid #000000;*/
/*    display: flex;*/
/*    width: 344px;*/
/*    height: 399px;*/
/*}*/
/*.menu__item{*/
/*    font-weight: 400;*/
/*    font-size: 27px;*/
/*    line-height: 27px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #485863;*/
/*}*/
/*.menu__item:hover{*/
/*    background: #DBDBDB;*/
/*}*/
/*.menu__item:nth-child(1){*/
/*    padding-left: 44px;*/
/*    padding-top: 15px;*/
/*    padding-right: 194px;*/
/*    padding-bottom: 25px;*/

/*}*/
/*.menu__item:nth-child(2){*/
/*    padding-left:44px;*/
/*    padding-top: 15px;*/
/*    padding-right: 100px;*/
/*    padding-bottom: 25px;*/

/*}*/
/*.menu__item:nth-child(3){*/
/*    padding-left: 44px;*/
/*    padding-top: 15px;*/
/*    padding-right: 194px;*/
/*    padding-bottom: 25px;*/
/*}*/
/*.menu__item:nth-child(4){*/
/*    padding-left: 44px;*/
/*    padding-top: 15px;*/
/*    padding-right: 194px;*/
/*    padding-bottom: 25px;*/
/*}*/
/*.menu__item:nth-child(5){*/
/*    padding-left: 44px;*/
/*    padding-top: 15px;*/
/*    padding-right: 194px;*/
/*    padding-bottom:25px;*/
/*}*/

/*.menu__container{*/
/*    background: rgba(0, 0, 0, 0.0001);*/
/*    border: 1px solid #000000;*/
/*    margin-left: 52px;*/
/*    margin-right: 1000px;*/
/*    justify-content: center;*/
/*}*/
/*.menu__img{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
/*.text{*/
/*    margin-left: 496px;*/
/*    margin-right: 99px;*/
/*    margin-top: 37px;*/

/*}*/
/*.text1{*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*    color: #2C2C2C;*/
/*    display: inline;*/

/*}*/
/*.text2{*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin-top:38px;*/
/*    padding-right: 50px;*/
/*}*/
.footer__list{
    display:flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-bottom: 30px;
    margin-top: 51px;
}
.list__item{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
    padding-left: 40px;
}
.list__item:nth-child(6){
    padding-right:40px;
    padding-left: 125px;
    font-size: 24px;
}
.list__item:hover{
    color: #4BCAFF;
    text-decoration: underline;
}
